.heading {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.listItem {
    margin: 0 0 1.25rem;
}

.listItem:hover {
    text-decoration: none;
    font-weight: 500;
}
